.original-site-card {
  text-align: center;
  font-size: large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.home-container {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
}

.membershipCol {
  padding-top: 25px;
  padding-bottom: 135px;
}

.img-header-row {
  text-align: center;
  padding-bottom: 25px;
}

.card-box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.youtube-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 56.25%;
 /* Aspect ratio 16:9 */
  position: relative;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
