.membership-card {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.card-container {
  position: relative;
  display: inline-block;
  max-width: 500px; /* Set maximum width */
  margin: auto; /* Center the container */
}

.card-image {
  width: 100%; /* Set image width to 100% */
  height: auto; /* Maintain aspect ratio */
}

.user-info {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white; /* Adjust text color for visibility */
}
