.footer {
  background-color: rgba(13, 34, 100, 0.9)!important;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 125px;
  bottom: 0;
  padding: 20px 0;
  margin-top: auto;
}

.footer-copyright {
  font-style: italic;
}


.footer-icon {
  margin-left: 15px;
  transition: .2s ease;
}

.footer-icon:hover {
  color:#14AAAA;
}

@media (max-width: 500px) {
  .footer {
    height: auto; 
    padding: 10px;
    font-size: 14px;
  }
}
