.original-site-card {
  text-align: center;
  font-size: large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.home-container {
  padding-top: 25px;
  border-radius: 25px;
  margin-bottom: 125px;
}

.originalRow {
  display: flex;
  width: 100%;
}

.membershipRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.carouselRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.carouselCol {
  padding: 0 10px; /* Add some horizontal padding */
  flex: 0 0 300px ; /* Set a fixed width for each column */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.membershipCol {
  padding: 0 10px; /* Add some horizontal padding */
  flex: 0 0 300px; /* Set a fixed width for each column */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.img-header-row {
  text-align: center;
  padding-bottom: 25px;
}

.card-box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.youtube-container {
  justify-content: center;
  padding-bottom: 56.25%;
  /* Aspect ratio 16:9 */
  position: relative;
}

.youtubeRow {
  display: flex;
  width: 100%;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

@media (max-width: 450px) {
  .home-container {
    margin-bottom: 180px;
  }
}
