.card-image-container {
  position: relative;
}

.delete-icon {
  color: #e74c3c;
  font-size: 36px;
  padding: 5px;
  border-radius: 10px;
}

.delete-icon:hover {
  cursor: pointer;
}

.video-icon {
  color: #5dade2;
  font-size: 50px;
  padding: 5px;
  border-radius: 10px;
}

.poster-container {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.6);
  text-align: center;
}

.full-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url(https://hdqwalls.com/wallpapers/star-wars-poster-4k-af.jpg);
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto;
  margin-top: 100px;
}

.saved-header-card {
  text-align: center;
  width: 75%;
  background-color: #e5e8e8;
}

.saved-movie-header {
  color: black;
}

.saved-header-card p {
  font-size: 16px;
  font-style: italic;
}

.search-now-hover {
  color: #57a3db;
}

.search-now-hover:hover {
  color: #2485cc;
}

.movie-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 30px;
}

.movie-column {
  flex: 0 0 300px; /* Set a fixed width for each column */
  margin-bottom: 20px;
}
