.custom-navbar {
  background-color: #0d2264 !important;
  width: 100vw;
  height: 100px;
  font-family: "Oxygen", sans-serif;
  z-index: 100;
  justify-content: center;
  display:flex;
}

.navbar-logo {
  width: 200px;
  padding-left: 25px;
}

#navbarCollapse {
  background-color: rgba(13, 34, 100, 0.9);
  margin-top: -30px;
  text-align: center;
  padding-left: 50px;
}

@media (max-width: 450px) {
  .custom-navbar {
    width: 450px; /* Set a fixed width for screens smaller than 450px */
  }
}
