.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
   background-image: url(https://wallpaperswide.com/download/star_wars_the_last_jedi-wallpaper-3840x2160.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    overflow-y: auto;
    margin-top: 100px
  }

  .book-card {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
  }

  .italic-view-books {
    font-style: italic;
  }
  
  .search-now-hover{
    color:#57A3DB ;
  }
  
  .search-now-hover:hover {
  color: #2485CC ;
  }

  .viewing-books  {
    font-family: "Oxygen", sans-serif ;
   
  }
  
  
  .saved-header-card h2 {
  color:black;
  }