.search-background-books {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
   background-image: url(https://wallpaperaccess.com/full/2862101.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    overflow-y: auto;
    margin-top: 100px;
  }

  .card-box-shadow-books {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.4);
  }

  @media (max-width: 500px) {
    .bookSearch-margin {
    margin-bottom: 315px !important;
    }
    }